.side-nav{
    height: 160vh;
    background-color: white;
    color: var(--blue);
    width: 20%;
}

.logo{
    text-align: center;
    padding: 1.5rem;
}

.menu-list{
    transform: scale(1.1);
    display: flex;
    justify-content: start;
    gap:1rem;
    margin:2rem 3rem 1rem 2rem; 
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.menu-list:hover{
    cursor: pointer;
}

.menu-list.active{
    background-color: var(--blue);
    color: white;
    border-radius: 0.5rem;
}

.menu-list > svg{
    width: 1.5rem;
}